body {
  font-size: 14px;
  font-family: arial, sans-serif;
}

#top {
  padding-bottom: 4px;
}
#left {
  padding: 2px;
  float: left;
}
#right {
  padding: 2px;
}

#controls {
  list-style: none;
  margin: 0;
  padding: 0;
}
#controls li {
  display: inline;
  padding-right: 10;
}
#controls li:last-child {
  float: right;
}

#tile-list {
  width: 90px;
  border: 1px black solid;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 4px;
  padding-top: 4px;
}

.list-tile {
  width: 60;
  height: 60;
  background-color: #F0F;
  background-image: url(assets/tiles.png);
  z-index: 5;
  margin: 3px;
}
.list-tile.selected {
  border: 3px solid #F50;
  margin:0px;
}

.tile {
  background-position: 0px 0px;
  display: block;
}

.road-matcher {
  border: 1px red solid;
  z-index: 10;
  margin: -1;
}

#map-mask {
  border: 1px solid black;
  top: 20px;
  overflow: hidden;
  float: right;
  overflow-x: scroll;
  overflow-y: scroll;
  z-index: 10;
}

#map {
  width: 3840px;
  height:3840px;
  position:relative;
}

#map.show-grid .tile {
  border: 1px solid black;
}

#save {
  display: none;
}

#save-text {
  width: 500px;
  height: 500px;
}

#load {
  display: none;
}

.collidable {
  border: dotted red 2px;
}
