body {
  font-family: arial, helvetica, sans-serif;
}
#hud-canvas { position:absolute; z-index:40; }
#sky-canvas { position:absolute; z-index:30; }
#canvas { position:absolute; z-index:20; }
#canvas-mask { position:relative; border:1px solid black; top:20px; left:20px; width:900px; height:600px; z-index:30; overflow:hidden; }
#background { position:relative; background:#93803A; z-index:10; width:900px; height:600px; overflow:hidden; }
.tile { position:absolute; width:60px; height:60px; background-color:#000; background-image:url(../assets/tiles.png); z-index:5; background-position:60 0px; }
#framerate { position:absolute; color:#000; z-index:50; right:5px; top:5px; display:none; background-color:#FFF; padding:4px; }
#pause { position:absolute; background-color:#FFF; color:#000; z-index:50; left:45%; bottom:50%; padding:8px; font-weight:bold; display:none; }
.active { display:block !important; }
#leveldata { display:block }
#progress { position:absolute; left:0px; top:0px; width:100%; height:10px; background-color:#000; z-index:50; opacity:0.5; display:none; }
#progress-slider { width:0%; height:10px; background-color:red; }
.flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: fliph; /*IE*/
}
.flip-vertical {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: flipv; /*IE*/
}
.rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.rotate-180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.rotate-270 {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

#life {
  position:absolute;
  z-index:50;
  left:0px;
  top:0px;
  padding:2px 4px;
}
.heart {
  font:1.5em bold;
  overflow:hidden;
  float:left;
  text-shadow: 0px 0px 2px black;
}
.heart.full {
  color:#DC143C;
}
.heart.left-half {
  color:#DC143C;
}
.heart.right-half {
  color:#2F4F4F;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: fliph; /*IE*/
}
.heart.empty {
  color:#2F4F4F;
}
.crosshair { cursor: crosshair }

#dude-inventory {
  position: absolute;
  visibility: hidden;
  right: 4px;
  top: 4px;
  z-index: 100;
}

.inventory {
  float: left;
  border: 3px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  border-spacing: 0px;
  cursor: pointer;
}
.inventory td {
  border: 1px solid black;
  /* 46 because of the border */
  width: 46px;
  height: 46px;
}
.inventory .occupied {
  background: rgba(100,100,100,0.4);
}
.inventory .inventory-item {
  position: absolute;
}
.ui-draggable {
  z-index: 200;
}

#dude-hands {
}
#dude-hands td:first-child {
  border: 0px;
  border-right: 1px solid black;
}
#dude-hands td:last-child {
  border: 0px;
  border-left: 1px solid black;
}
