/* 
 * z-indices:
 *
 * 1000 for pause/game over overlays
 *  900 for nuke
 *  800 for drag handlers
 *  700 for canvas mask
 *  600 for ui elements
 *  500 for click overlay
 *  400 for sky
 *  100 for sprite container
 *   10 for background container
 *    5 for background tiles
 *
 * sprite z-indices between 100-200 are set based on y-axis
 *
 */

body {
  font-family: impact, helvetica, sans-serif;
}
#container {
  position:relative;
  top:20px;
  left:20px;
  width:900px;
  height:600px;
  border:5px solid black; 
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
}

#pause-overlay {
  position:absolute;
  display:none;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:1000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7)), color-stop(.5,rgba(0,0,0,0.2)));
}

#pause-overlay .centering-container {
  position:absolute;
  left:50%;
  top:50%;
}
#pause {
  font-size:300%;
  position:relative;
  left:-50%;
  top:-55px;
  padding:8px;
  font-weight:bold;
  color: rgba(0,48,64,0.8);
  text-shadow: 0px 4px 3px rgba(0,18,34,0.4),
               0px 8px 13px rgba(0,18,34,0.2);
}

#game-over-overlay {
  position:absolute;
  display:none;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:1000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)), color-stop(.5,rgba(0,0,0,0.7)));
}

#game-over-overlay .centering-container {
  position:absolute;
  left:50%;
  top:50%;
}
#game-over {
  font-size:300%;
  position:relative;
  left:-50%;
  top:-55px;
  padding:8px;
  font-weight:bold;
  color: rgba(10,58,74,0.8);
  text-shadow: 0px 4px 3px rgba(0,18,34,0.4),
               0px 8px 13px rgba(0,18,34,0.2);
}

#play-again {
  display:none;
  position:relative;
  left:-50%;
  top: 100px;
  padding: 10px;
  color: rgba(0,48,64,0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius   : 10px;
  border-radius        : 10px;
  border: 1px solid rgba(0,48,64,0.5);
  white-space: nowrap;
  font-size:150%;
  font-weight:bold;
  -webkit-transition:0.3s ease;
  -moz-transition:0.3s ease;
  -ms-transition:0.3s ease;
  -o-transition:0.3s ease;
  transition:0.3s ease;
  text-decoration: none;
}
#play-again:hover {
  -webkit-transition:0.15s ease;
  -moz-transition:0.15s ease;
  -ms-transition:0.15s ease;
  -o-transition:0.15s ease;
  transition:0.15s ease;

  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);

  color: rgba(20,68,84,0.8);
  border-color: rgba(20,68,84,0.8);
  background: rgba(0,48,64,0.3);
}

#play-again:active {
  border-width: 2px;
}

/* nothing below the click overlay is clickable */
#click-overlay { position:absolute; z-index:500; width:900px; height:600px; }
#sky-canvas { position:absolute; z-index:400; }
#sprites { position:absolute; z-index:100; width:900px; height:600px; }
#canvas-mask {
  position:relative;
  z-index:700;
  overflow:hidden;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.sprite {
  position: absolute;
  visibility: hidden;
}

#background { position:relative; background:#93803A; z-index:10; width:900px; height:600px; overflow:hidden; }
.tile { position:absolute; width:60px; height:60px; background-color:#000; background-image:url(../assets/tiles.png); z-index:5; background-position:60 0px; }

#lower-right { position:absolute; color:#000; z-index:600; right:5px; bottom:5px; cursor:default;}
#framerate { color:#000; display:none; background-color:#FFF; padding:4px; float:left; width:42px; }
#distance { color:#000; background-color:#FFF; padding:4px; float:right; width:100px; }
#time { color:#000; background-color:#FFF; padding:4px; cursor:pointer; float:right; }
#time.clock {
  width: auto;
}

.active { display:block !important; }
#leveldata { display:block }
#progress { position:absolute; left:0px; top:0px; width:100%; height:10px; background-color:#000; z-index:600; opacity:0.5; display:none; }
#progress-slider { width:0%; height:10px; background-color:red; }

#life {
  position:absolute;
  z-index:600;
  left:0px;
  top:0px;
  padding:2px 4px;
}
.heart {
  font:1.5em bold;
  overflow:hidden;
  float:left;
  text-shadow: 0px 0px 2px black;
}
.heart.full {
  color:#DC143C;
}
.heart.left-half {
  color:#DC143C;
}
.heart.right-half {
  color:#2F4F4F;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: fliph; /*IE*/
}
.heart.empty {
  color:#2F4F4F;
}
.crosshair { cursor: crosshair; }

#dude-inventory {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 600;
  visibility: hidden;
}

#other-inventory {
  position: absolute;
  left: 4px;
  bottom: 4px;
  z-index: 600;
  visibility: hidden;
}

.inventory {
  float: left;
  border: 3px solid #034;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  border-spacing: 0px;
  cursor: pointer;
}
.inventory td {
  border: 1px solid #034;
  /* 46 because of the border */
  width: 46px;
  height: 46px;
}
.inventory caption {
  color: #AAA;
  font-weight: bold;
}
.inventory .occupied {
  background: rgba(70,100,120,0.3);
}
.inventory-item {
  position: absolute;
  cursor: pointer;
}
.inventory-item .readout {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #BBB;
}
.ui-draggable {
  z-index: 800;
}
.click-dragging {
  z-index: 800;
}

#dude-hands {
  margin-left: 6px;
}
#dude-hands td:first-child {
  border: 0px;
  border-right: 1px solid #034;
  background-image:url(../assets/left-hand.png);
}
#dude-hands td:last-child {
  border: 0px;
  border-left: 1px solid #034;
  background-image:url(../assets/right-hand.png);
}
#dude-hands tr:nth-child(2) td {
  background-position:0 92px; 
}
#dude-hands tr:last-child td {
  background-position:0 46px; 
}

#fuel-gauge {
  position: absolute;
  width: 120px;
  height: 60px;
  left: 10px;
  top: 30px;
  display: none;
  z-index: 600;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  background-image:url(../assets/fuel-gauge.png);
  background-color:black;
}

#fuel-gauge-needle {
  position: absolute;
  width: 16px;
  height: 58px;
  left: 52px;
  bottom: -8px;
  background-image:url(../assets/gauge-needle.png);
  -moz-transform-origin: 8px 50px;
  -webkit-transform-origin: 8px 50px;
  -o-transform-origin: 8px 50px;
  -ms-transform-origin: 8px 50px;
  transform-origin: 8px 50px;
}

#check-engine-light {
  display: none;
  position: absolute;
  width: 45px;
  height: 31px;
  left: 10px;
  top: 110px;
  background-image:url(../assets/check-engine.png);
  z-index: 600;
}

#check-engine-light.lit {
  background-position:45 0px; 
}

#low-fuel-light {
  display: none;
  position: absolute;
  width: 29px;
  height: 30px;
  left: 20px;
  top: 158px;
  background-image:url(../assets/fuel-low.png);
  z-index: 600;
}

#low-fuel-light.lit {
  background-position:29 0px; 
}

#lower-right > span {
  font-weight:bold;
  text-align: right;
  margin: 2px;
  background: #256;
  padding: 5px 15px;
  color: #DDD;
  -webkit-border-radius: 10px;
  -moz-border-radius   : 10px;
  border-radius        : 10px;
  border: 1px solid #034;
  white-space: nowrap;
  opacity: 0.8;
}

.tip {
  position: absolute;
  z-index: 600;
  background: #256;
  padding: 5px 15px;
  color: #DDD;
  -webkit-border-radius: 10px;
  -moz-border-radius   : 10px;
  border-radius        : 10px;
  border: 1px solid #034;
  white-space: nowrap;
  opacity: 0.8;
}

.tip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #034;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 30%;
  top: 100%;
}

.pump #click-overlay, .pump .inventory, .pump .inventory-item {
  cursor: url(../assets/pump-nozzle.png), auto !important;
}
.gascan #click-overlay, .gascan .inventory, .gascan .inventory-item {
  cursor: url(../assets/gascan-cursor.png), auto !important;
}
.rubber-tubing #click-overlay, .rubber-tubing .inventory-item, .rubber-tubing .inventory {
  cursor: url(../assets/rubber-tubing-cursor.png), auto !important;
}

#intro {
  font-family: trebuchet, helvetica, sans-serif;
  width: 80%;
  margin-top: 100px;
  margin-left: 50px;
}

#nuke {
  position: absolute;
  left: 0px;
  top: -1000px;
  width: 2000px;
  height: 2000px;
  display: none;
  background-color: #A22;
  /* background-image: -webkit-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%), -webkit-linear-gradient(45deg, rgba(255,255,255,.13) 50%, transparent 50%), -webkit-linear-gradient(-45deg, transparent 50%, rgba(255,255,255,.17) 50%), -webkit-linear-gradient(30deg, transparent 50%, rgba(255,255,255,.19) 50%); */
  /* background-size: 13px, 29px, 37px, 53px; */
  z-index: 900;
  -webkit-transform-origin: left center;
}
